google-api-python-client==2.1.0
google-auth==1.28.0
google-cloud-secret-manager==2.4.0
google-cloud-storage==1.37.0
google-cloud-pubsub==2.4.1
google-resumable-media==1.2.0
grpcio==1.36.1
jira==2.0.0
jsonschema==3.2.0
retry==0.9.2
gobits==1.0.8
